<div id="search-box" *ngIf="!searchIssued" [@fadeInOut]>
    <div class="logo">
        <img ngSrc="assets/logo.png" height="95" width="150" alt="XReco Logo"/>
    </div>

    <div class="search">
        <input [(ngModel)]="searchInput"  type="text" placeholder="Search the Neural Media Repository" class="search">
    </div>

    <div class="search-button" (click)="search()">
        <button mat-flat-button color="primary">Search</button>
    </div>
</div>

<!-- Search bar (top) -->
<div id="toolbar" *ngIf="searchIssued">
    <div class="logo">
        <img ngSrc="assets/logo.png" height="95" width="150" alt="XReco Logo"/>
    </div>

    <div class="search">
        <input [(ngModel)]="searchInput" type="text" placeholder="Search the Neural Media Repository" class="search">
        <button mat-flat-button color="primary"  (click)="search()">Search</button>
    </div>

    <div class="basket">
        <button mat-flat-button matTooltip="Add to basket." [matMenuTriggerFor]="basketMenu">
            Active basket: {{(activeBasket | async)?.name}}
        </button>

        <mat-menu #basketMenu="matMenu">
            <button mat-menu-item *ngFor="let basket of (baskets | async)" (click)="switchBasket(basket)">
                {{basket.name}}
            </button>
            <mat-divider *ngIf="(baskets | async) && (baskets | async)!!.length > 0"></mat-divider>
            <button mat-menu-item (click)="createBasket()">Create new basket</button>
        </mat-menu>
    </div>
</div>

<div id="results">
    <div *ngFor="let item of (items | async)" class="item"
         [style.background-color]="'rgba(0,255,0,' + 255 * (item.score / bestScore) + ')'"
         (mouseenter)="focus = item"
         (mouseleave)="focus = null">

        <img src="{{pathForItem(item)}}" alt="Preview image of media resource {{item.id}}.">

        <div *ngIf="focus == item" class="footer">
            <button mat-icon-button matTooltip="Show details." (click)="showDetails(item)">
                <mat-icon>remove_red_eye</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Find similar entries." (click)="searchSimilar(item)">
                <mat-icon>youtube_searched_for</mat-icon>
            </button>

            <button *ngIf="(activeBasket | async)" mat-icon-button matTooltip="Add to basket '{{(activeBasket | async)?.name}}'." (click)="addToBasket(item)">
                <mat-icon>shopping_basket</mat-icon>
            </button>
        </div>
    </div>
</div>