#search-box {
  width: 600px;
  height: 250px;

  position:absolute;

  top:50%;
  left:50%;

  box-shadow: rgba(245, 185, 151, 0.2) 0 7px 29px 0;

  margin-left:-300px;/* half width*/
  margin-top:-150px;/* half height*/

  padding: 30px;
}

#search-box > .search {
  min-width: 400px;
  display: flex;
  justify-content: center;
}

#search-box > .logo {
  display: flex;
  justify-content: center;
}

#search-box > .search-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#toolbar {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(245, 185, 151, 0.2) 0 0px 15px 0;
}

#toolbar > .basket {

}

#toolbar > .search {
  min-width: 400px;
}

.search > input[type=text] {
  width: 80%;
  padding: 10px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: 100%;
  margin: 10px;
}

#results > .item {
  position: relative;
  width: 150px;
  height: 150px;
  border: solid black 1px;
}

#results > .item > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#results > .item > .footer {
  position: absolute;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
  opacity: 0.65;
  color: white;
}