<h2 mat-dialog-title>Resource: {{mediaResourceId}} ({{(mediaResource|async)?.type}})</h2>
<mat-dialog-content class="mat-typography">
  <div [ngSwitch]="(mediaResource|async)?.type">
    <video *ngSwitchCase="'VIDEO'" controls width="550">
      <source [src]="resourceUrl">
      <!--TODO add time-->
    </video>
    <img *ngSwitchCase="'IMAGE'" [src]="resourceUrl" alt="Preview of {{mediaResourceId}}">
  </div>
  <div *ngIf="(mediaResource|async)?.description">
    <mat-divider></mat-divider>
    <p>{{(mediaResource|async)?.description}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>