@use '@angular/material' as mat;

@include mat.core();

$blue-palette: (
    50 : #eeeafe,
    100 : #d4cbfc,
    200 : #b7a8fb,
    300 : #9a85f9,
    400 : #856af7,
    500 : #6f50f6,
    600 : #6749f5,
    700 : #5c40f3,
    800 : #5237f2,
    900 : #4027ef,
    A100 : #ffffff,
    A200 : #f9f8ff,
    A400 : #cbc5ff,
    A700 : #b5acff,
    contrast: (
            50 : #000000,
            100 : #000000,
            200 : #000000,
            300 : #000000,
            400 : #000000,
            500 : #ffffff,
            600 : #ffffff,
            700 : #ffffff,
            800 : #ffffff,
            900 : #ffffff,
            A100 : #000000,
            A200 : #000000,
            A400 : #000000,
            A700 : #000000,
    )
);


$apricot-palette: (
    50 : #fefaf7,
    100 : #fdf2eb,
    200 : #fceade,
    300 : #fbe1d0,
    400 : #fadac6,
    500 : #f9d4bc,
    600 : #f8cfb6,
    700 : #f7c9ad,
    800 : #f6c3a5,
    900 : #f5b997,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
            50 : #000000,
            100 : #000000,
            200 : #000000,
            300 : #000000,
            400 : #000000,
            500 : #000000,
            600 : #000000,
            700 : #000000,
            800 : #000000,
            900 : #000000,
            A100 : #000000,
            A200 : #000000,
            A400 : #000000,
            A700 : #000000,
    )
);

$fireopal-palette: (
        50 : #fdedec,
        100 : #f9d1cf,
        200 : #f6b2af,
        300 : #f2938f,
        400 : #ef7c77,
        500 : #ec655f,
        600 : #ea5d57,
        700 : #e7534d,
        800 : #e44943,
        900 : #df3732,
        A100 : #ffffff,
        A200 : #fff1f1,
        A400 : #ffbfbe,
        A700 : #ffa7a4,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);


$primary: mat.define-palette($blue-palette);
$accent:  mat.define-palette($apricot-palette);
$warn:  mat.define-palette($fireopal-palette);

$theme: mat.define-light-theme((
    color: (primary: $primary, accent: $accent, warn: $warn),
    typography: mat.define-typography-config(),
    density: 0,
));

// Include all theme styles for the components.
@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($theme);